!!!
%html
%head
	%title CycleTrac
	= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
	= javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
	= csrf_meta_tags

%body
%nav.navbar.navbar-default
%p.navbar-text.pull-right
- if user_signed_in?
	Logged in as
	%strong= current_user.email
	= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link'
	|
	\#{link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'}
- else
	= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'
	|
	\#{link_to "Login", new_user_session_path, :class => 'navbar-link'}
.container
= link_to image_tag('Cycle-trac.png',id: 'logo'), root_path
=link_to "Create New Workout", new_workout_path, class: "navbar navbar-link"
.container

= render 'layouts/alerts'
= yield
